body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: auto;
    text-align: center;
    background-color: #00d9d9;
    font-size: 60px;
    color: white;
    font-weight: bold;
}

a, a:visited {
    color: #eee;
}

a:active {
    color: #ccc;
}